/**
 *  All global variables should go here.
 */
header {
  background-color: #c0392b;
  border-top: 2px solid #e74c3c;
  padding: 4px 16px 0; }
  header .page-title {
    line-height: 50px;
    font-size: 25px;
    text-align: center; }
  header a.menu-buttons {
    display: block;
    color: white;
    margin: 5px 10px;
    font-size: 20px;
    text-decoration: none; }
    header a.menu-buttons i {
      font-size: 30px;
      color: rgba(255, 255, 255, 0.9); }
    header a.menu-buttons.left {
      float: left; }
    header a.menu-buttons.right {
      float: right; }
